

/* Top */

.subsection-title {
  
  font-size: 100px;
  font-weight:bold;
  color: rgb(23,55,184);
  margin: 40px;
  margin-left: 48px;
}


.subsection-horizontal-line {
  height: 1px;
  background-color: black;
  width: 1000px;
  position: absolute; 
  margin-left: -100px;
  margin-right: -100px;
  top: 100px; 
}

.subsection-Menu {
  margin-left: 37px;
  display: flex;   
  justify-content:flex-start; 
  font-family: Aria, Helvetica, sans-serif;  
  font-size: 12px; 
}
.subsection-Menu > div, .subsection-Menu > span {
  margin-left: 15px;
}
.subsection-Menu-Home{
  color:rgb(23,55,184);
}

/* .ransparent-section */
.transparent-section {
  background-image: url("../Cutlery.png");
  background-size: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;  
  width: 1000px;
  margin-top: 50px;
  margin-right: 60px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: rgb(23,55,184);  
}

.mid-text{
  font-size: 40px;
  font-weight: bold;
  margin-left: 50px;
  padding-top: 50px ;
}

.line {
  margin-bottom: 10px;
}

.Buttom-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: white;
}

.mid-buttom-text{
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
}


/* mid-content */
.mid-content {
  color: rgb(23,55,184);
}

.sub_title{
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:1000;
  color: rgb(23,55,184);
  margin-left: 260px;
  margin-top: 10px;
  margin-bottom: 0px;
}


.Decor-Bedroom {
  display: flex;
}
.img-text + .img-text {
  margin-left: -80px; 
}
.img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Decor-Bedroom img {
  width: 360px;
  height: auto;
  margin: 50px;
  margin-bottom: 20px;
}
.text {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1000;
  font-size: 20px;
  margin-bottom: 20px;
}



.Kitchen-Bathroom {
  display: flex;
}
.img-text-2 + .img-text-2 {
  margin-left: -80px; 
}
.img-text-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Kitchen-Bathroom img {
  width: 360px;
  height: auto;
  margin: 50px;
  margin-bottom: 20px;
}
.text {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1000;
  font-size: 20px;
  margin-top: 5%;
}




