.custom-back-btn {
  background-color: #e5e5e5; /* 按钮背景颜色 */
  border: none; /* 去除默认边框 */
  font-size: 16px; /* 字体大小 */
  padding: 8px 16px; /* 按钮内边距 */
  cursor: pointer; /* 手形光标 */
  z-index: 1; /* 使其位于其他内容之上 */
}

/* 按钮悬停效果 */
.custom-back-btn:hover {
  background-color: gray; /* 根据需要调整悬停背景颜色 */
}

/* 默认的非活动链接样式 */
.nav-tabs .nav-link {
  background-color: #fff; /* 白色背景 */
  color: #000; /* 黑色文字 */
  border: none; /* 无边框 */
  border-bottom: 1px solid #ddd; /* 只有底部边框 */
  margin-bottom: -1px; /* 边框外的负边距以覆盖活动链接下的边框 */
}
/* 当链接拥有.active类时的样式 */
.nav-tabs .nav-link.active {
  background-color: #000; /* 黑色背景 */
  color: #fff; /* 白色文字 */
  border: 1px solid #000; /* 黑色边框，确保与背景融合 */
}


.item-info {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  background-color: #303434; /* 纯黑的背景色 */
}

td {
  text-align: left;
  color: #fff; /* 白色的文字，确保在黑色背景上可见 */
}

tr:nth-child(even) {
  background-color: #282838; /* 深灰的背景色 */
}

@media (max-width: 600px){
  .custom-back-btn{
    margin-left: -30%;
  }

  .nav-tabs{
    margin-top: 10%;
  }


  
}